@model IEnumerable<Models.DemographicInformation>
@*@model Models.DemographicInformation*@
@using GridMvc.Html

@{
    ViewData["Title"] = "Assignment2";
}
<h3>@ViewData["Title"]</h3>

@*<div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="panel panel-primary pre-scrollable">
            @Html.Grid(Model).Named("IndividualDemographicsData").Columns(columns =>
            {
                columns.Add(col => col.FirstName).Titled("First Name");
                columns.Add(col => col.LastName).Titled("Last Name");
                columns.Add(col => col.Sex).Titled("Sex");
                columns.Add(col => col.Address).Titled("Address");
            }).WithPaging(3).Sortable()
        </div>
    }
</div>*@

<div>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Sex</th>
            <th>Address</th>
        </tr>
        <tr>
            @foreach (var m in Model)
            {
                <tr>
                    <th>@m.FirstName</th>
                    <th>@m.LastName</th>
                    <th>@m.Sex</th>
                    <th>@m.Address</th>
                </tr>
            }
        </table>
</div>
